@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #8b0000;
  padding: 30px;
  color:black;
  background-size:auto;
  background-position: auto;
  
  
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(200, 200, 200);
  padding: 20px 30px;
  border-radius: 10px 70px;
  transition-duration: 0.3s;
  
  
}

.app:hover {
  max-width: 610px;
  margin: 0 auto;
  background-color: lightskyblue;
  padding: 20.5px 30.5px;
  border-radius: 70px 10px ;
 

}

.listaDeTarefas {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 10px solid grey;
  background-color: aliceblue;
  border-radius: 20px;
  max-width: 5000px;
  transition: 0.4s;
  margin-top: 30px;
  
  
}

.tituloMaior {
  font-size: 40px;
  background-color: aliceblue;
  border-radius: 60px 60px 20px 20px;
  border-width: 1;
  border-color: black;
  border-style: double;
  border-width: 5px;
  padding: 5px;
  transition: 0.2s;

}

.tituloMaior:hover {
  padding: 6px;
}

.listaDeTarefas:hover {
  border-radius: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.tarefa {
  background-color: azure;
  border-color: black;
  box-shadow: 0 0 1 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.conponent {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.task {
  align-items: center;
}


  

.titleecate {
  gap: 30px;

  p {
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    border-color: black;
    border-width: 2;
  }

  
}



h1 {
  
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

h2 {
  margin-bottom: 10px ;
  border-radius: 13px 13px 5px 5px;
  text-align: center;
  font-size: 34px;
  background-color: rgba(255, 255, 255, 0.050) ;
  transition: 0.2s;
}
h2:hover {
  color:#200a01;
  padding: 0.3px;
  background-color: rgba(255, 255, 255, 0.100)
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
  padding: 6px;
  border-radius: 3px;
  
}

.add {
  background-color: lawngreen;
  color: black;
  font-size: large;
  margin-right: 5px;
}

.remover {
  background-color: brown;
  font-size: large;
  margin-left: 5px;
  
}

.nome {
  padding-bottom: 5px;
  border-radius: 20px;
  border-width: 1;
  border-color: black;
  transition: 0.3s;
}

.nome:hover {
  border-color: lightgray;
  
}

.tipoDeTarefa {
  color: black;
  padding-bottom: 5px;
  border-radius: 20px;
  border-width: 0.5;
  border-color: black;
  transition: 0.3s;
}

.tipoDeTarefa:hover {
  border-color: lightgray; 
}



input, select {
  padding:5px;
  margin-bottom: 10px;
  border: 1px solid wheat;
  border-radius: 5px;
  width: 100% ;

}

